body {
    background-color:#424142;

}

div.navbar-header{
    font-family: 'Sarina', cursive;
    font-style: italic;
}

#optionText{
    font-family: 'Gloria Hallelujah', cursive;
}

p.salesBar{
    background-color:red;
    color: white;
    text-align:center
}

#saleBarLink{
    color:white;
}

